@model List<WebApplication2.Models.Table_2>
@{
    ViewBag.Title = "sub";
    int sn = 0;
}


<style>
    table, td, th {
        background-color: brown;
    }
</style>
<h2>Student list</h2>
<table class="table" border="1">
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Contact</th>
        <th>Address</th>
    </tr>

    @foreach (var data in Model)
    {
        <tr>
            <td>@(++sn)</td>
            <td>@data.id</td>
            <td>@data.Name</td>
            <td>@data.Contact</td>
            <td>@data.Address</td>
        </tr>
    }
</table>